@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.about-us {
  padding: 0 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  ;
}
.flex {
  flex: 0 0 50%;
  max-width: 80%;
  padding: 0 20px;

}




.about-us h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.about-us h3 {
  font-size: 30px;
  color: #888;
  margin-bottom: 8px;
  text-align: center;
}

.about-us p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  text-align: center;
}



.social-links {
  margin-bottom: 20px;
}

.social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
  background-color: #514a4a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.social-links a:hover {
  transform: translateY(-3px);
}

.btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #514a4a;
  transition: all 0.4s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

.wrapper {
    width: 100%;
  margin-top: 50px;
}

.wrapper h3 {
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.team .team-members {
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: rgba(188, 210, 45, 0.6);
  position: relative;
}

.team .team-members h3 {
  color: #81c643;
  font-size: 26px;
  margin-top: 50px;
}

.team .team-members p.role {
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}

.team .team-members .team_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

.team .team-members .team_img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  
  .flex {
    display: flex;
    flex-direction: column; 
    background-color: #f0f0f0; 
    padding: 20px; 
    text-align: center;
    margin-right: auto;
  }

  .about-us h2 {
    font-size: 31px;
  }

  .social-links a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 5px;
  }

  .btn {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 30px;
  }
}
.about-us .container {
    display: flex;
    flex-direction: column;
  }
  
  .about-us .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-us .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
 
  
  .wrapper {
    width: 100%;
    margin-top: 20px;
  }
  .wrapper h3{
    font-size: 88px;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team-members {
    width: 100%;
    max-width: 500px;
    margin: 5px;
    text-align: center;
  }
  
  .team-members img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  