.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
  background: #ad3e3e;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem; /* Adjust size as needed */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
